*{
    padding: 0px;
    margin: 0px;
}
.primary{
    color: #e6117b;
}
.nav-container{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-color: #585858 ;
    color: #ffffff;
}
.items{
    display: flex;
    list-style: none;
}
.item{
    font-size: 22px;
    font-weight: 700;
    padding: 5px;
    margin-right: 10px;

}
.banner-container{
    width: 100%;
    height: 100vh;
    background-image: url("./asset/image/background.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4));
    background-blend-mode: overlay ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.banner-title{
    font-size: 85px;
    font-weight: ;
    
}
.banner-title span{
    color: rgb(254, 29, 111);
}
.description{
    font-size: 22px;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.btn{
    padding: 15px 35px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 700;
    margin: 5px;
}
.btn-discover{
    background-color: rgb(254, 29, 111);
    color: #ffffff;    
}
.btn-hire{
    background-color: rgb(244, 242, 243);
    color: #e6117b;
}
.service-title{
    font-size: 40px;
}
.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("asset/image/footer-bg.png"), linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    background-blend-mode: overlay ;
    color: #ffffff;
    padding: 20px;
}
.service-container-left{
    width: 50%;
}

.service-description{
    font-size: 20px;
    width: 50%;
    padding: 10px;
}
.author-details{
    display: flex;
    align-items: center ;
}
.author-img-dsc{
    display: flex;
    align-items: center;
    padding: 20px 80px 20px 20px;
    border-right: 1px solid red;
    margin-top: 20px;
}
.author-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    

}

.More-details{
    padding: 20px;
}
.service{
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 4px 4px 8px grey;
    width: 200px;
    height: 200px;
    text-align: center;
    color: #000;
    border-radius: 10px;
}
.service-up{
    display: flex;
    gap: 10px;
}
.service-logo{
    width: 50%;
    padding-bottom: 10px;
}
.service-Down{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.appointment-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #e6117b;
    color: #ffffff;
    padding: 15px;
    border-radius: 25px;
    margin: auto;
    margin-top: -75px;
}
.appointment-container{
    display: flex;
    
}
.app-desc{
    width: 250px;
    padding: 15px;
    text-align: justify;
}


.call-icons{
    width: 90px;
}













